* {
  box-sizing: border-box;
}

body {
  width:100%;
  background: rgb(36, 36, 36);
  font-family: 'Cedarville Cursive', cursive;
}

h1 {
  text-align: center;
  width: 100%;
  font-size: 3em;
  font-weight: 300;
  margin-bottom: 0px;
  color: rgb(255, 255, 255);
}

#desktop {
  width: 100%;
  margin-left:0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: margin 1.5s;
}

img {
  text-align: center;
  margin: 0;
}


#cioran, #macbook, #phone {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 2.2%;
  justify-content: center;
  align-content: center;
}

#cioran {

  background-color: rgb(36, 36, 36);
}

#phone {
  background-color: rgb(36, 36, 36);
}

#macbook {
  background-color: rgb(36, 36, 36);
}

#overlays {
  display: flex;
  width: 100%;
  margin: auto;
}

#cioranhov, #phonehov, #macbookhov {
  display: flex;
  flex-direction: column;
  position: absolute;
  width:100%;
  top: 15.5%;
  left: -50%;
  padding-bottom: 3%;
  background: rgb(0, 0, 0);
  transform: translateX(-50%);
  transition: left 1.5s;
}

#cioranhov {
  background-color: rgb(36, 36, 36);
}

#phonehov {
  background-color: rgb(36, 36, 36);
}

#macbookhov {
  background-color: rgb(36, 36, 36);
}

p {
  width: 100%;
  margin: 0;
  padding: 4% 5%;
  font-size: 1.3em;
  line-height: 1.3em;
  color: white;
}

#cioranhov img, #phonehov img, #macbookhov img {
  margin: auto;
  padding-top: 4%
}

#cioranclose, #phoneclose, #macbookclose {
  color: white;
  position: absolute;
  top: 3%;
  right: 3%;

  cursor: pointer;
}

/* footer */

footer {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
}

footer nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
}

footer nav ul li {
  margin: 1% 1%;
  width: 20%;
}

footer nav ul li a {
  padding: 2%;
  text-decoration: none;
  font-size: 1.25em;
  color: white;
}

a:hover {
  color: rgb(255, 255, 255);
}

@media only screen and (min-width: 769px) {
  h1 {
    text-align: center;
    width: 100%;
    padding: 3% 6%;
    font-size: 4em;
  }

  #cioranpic, #phonepic, #macbookpic{
    opacity: 1;
    transition: opacity .5s;
  }


  #desktop {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100%;
    margin-left: 0;
    transition: all 1.3s ease;
  }

  #cioran, #macbook, #phone {
    display: flex;
    width: 340px;
    height: 340px;
    margin: auto;
    padding: 10px;
    transform: scale(1);

    border-radius: 0%;
    cursor: pointer;

    transition: transform .5s;
  }

  #cioran {
    background-color: rgb(0, 0, 0, 0);
  }

  #phone {
    background-color: rgb(0, 0, 0,0);
  }

  #macbook {
    background-color: rgb(0, 0, 0, 0);
  }

  #cioran img, #phone img, #macbook img {
    margin: auto;
    opacity: 1;
  }

  #cioran img:hover, #phone img:hover, #macbook img:hover {
    opacity: 1;
  }

  #cioran:hover, #phone:hover, #macbook:hover {
    transform: scale(1.15);
  }

  #cioranhov, #phonehov, #macbookhov {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    position: absolute;
    width: 55%;
    top: 50%;
    left: -200%;
    transform: translate(-50%,-40%);
    padding: 3%;

    border-radius: 0%;

    transition: left 1.3s ease;
  }

  #cioranhov p, #phonehov p, #macbookhov p {
    width: 100%;
    padding: 5%;
    font-size: 1.5em;
  }

  #cioranhov img, #phonehov img, #macbookhov img {
    width: 100%;
    height: auto;
  }

  #cioranhov {
    background-color: rgb(36, 36, 36);
  }

  #phonehov {
    background-color: rgb(36, 36, 36);
  }

  #macbookhov {
    background-color: rgb(36, 36, 36);
  }

  footer {
    width: 100%;
  }

  footer nav ul li {
    margin: 3% 0.5% 1%;
    width: 8%;
  }

  footer nav ul li a {
    padding: 1%;
    color: white;
  }
}
